<div class="col-md-3">
  <div href="#" class="thumbnail">
    <%= link_to book_path(book) do %>
    <%= image_tag "book.jpg", class: "img-responsive" %>
    <% end %>
    <div class="caption">
    <p><%= book.name %></p>
    <p>$<%= book.price.to_f / 100%></p>

    </div>
  </div>
</div>
